/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fonts */
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
			url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
			url('../fonts/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
			url('../fonts/Roboto-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
			url('../fonts/Roboto-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
			url('../fonts/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
			url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
			url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.woff2') format('woff2'),
			url('../fonts/Roboto-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
			url('../fonts/Roboto-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
			url('../fonts/Roboto-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2'),
			url('../fonts/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
			url('../fonts/Roboto-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
/* ./fonts */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #2B2B2B;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1356px;
}

/* header */
.header {
	margin-bottom: 30px;
}

.header-secondary {
	background: #000 url('../images/banners/banner.png') no-repeat center center / cover;
	color: #fff;
	height: 500px;
	text-align: center;
	font-size: 16px;
	line-height: 36px;
}

.header-secondary-inner {
	padding: 40px 100px 0 100px;
	display: flex;
	justify-content: space-between;
}

/* .header-connect {
	padding-left: 100px;
}

.header-controls {
	padding-right: 100px;
} */

.header-connect ul,
.header-controls ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.header-connect .social-icon {
	font-size: 18px;
}

.header-search form {
	border: 1px solid #CCCCCC;
	color: #2B2B2B;
	position: relative;
	padding: 0 22px;
}

.header-search form button {
	position: absolute;
	cursor: pointer;
	bottom: 8px;
	left: -1px;
	background-color: transparent;
	border: 0;
	color: #2B2B2B;
}

.header-search form input {
	outline: none;
	background-color: transparent;
	border: 0;
}

.header-search form input::placeholder {
	color: #2B2B2B;
}

.header-controls .control-icon {
	color: #2B2B2B;
	font-size: 22px;
}

.header-controls .control-icon:hover {
	font-size: 24px;
}

.header-primary {
	background: #2B2B2B;
}

.header-primary ul {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
}

.header-primary a {
	text-transform: uppercase;
	font-size: 18px;
	color: #E8E8E8;
	line-height: 22px;
	transition: color .2s linear;
}

.header-primary a:hover {
	color: #ababab;
}
/* ./header */

/* footer */
.footer {
	background-color: #E8E8E8;
}

.footer-inner {
	display: flex;
	justify-content: space-between;
	padding: 44px 0;
	text-transform: lowercase;
	line-height: 30px;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	gap: 164px;
}

.footer-nav .mobile-version {
	text-decoration: underline;
}

.footer-connect .footer-newsletter {
	margin-bottom: 32px;
}

.footer-newsletter label,
.footer-newsletter input,
.footer-newsletter button {
	display: block;
	margin-bottom: 12px;
}

.footer-newsletter input {
	width: 100%;
	height: 30px;
	border: 1px solid #CCCCCC;
	outline: none;
	padding: 0 4px;
}

.footer-newsletter button {
	text-transform: uppercase;
	background-color: #E8E8E8;
	border: 1px solid #2B2B2B;
	padding: 4px 12px;
	cursor: pointer;
}

.footer-social li {
	display: inline-block;
	margin-right: 12px;
}

/* ./footer */

/* homepage */
.content-main {
	margin-bottom: 120px;
}

.content-main .home-catalog-preview {
	margin-bottom: 80px;
	border: 0;
	border-top: 1px solid #CCCCCC;
	padding: 10px 0;
}

.content-main .home-catalog-preview > header {
  font-weight:700;
	font-size: 35px;
  text-align: center;
  margin-bottom: 24px;
}

.home-catalog-preview .product-tiles {
  display: flex;
  justify-content: center;
	gap: 24px;
}

.product-tiles {
	margin-bottom: 72px;
}

.product-tile {
	text-align: center;
}

.product-tile .product-tile-header {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 8px;
	position: relative;
}

.product-tile .product-tile-image {
  display: block;
  margin-bottom: 20px;
}

.product-tile .product-tile-image img {
  width: 100%;
}

.product-tile-controls {
	position: absolute;
	top: 8px;
	right: 10px;
	border: none;
	background-color: transparent;
}

.product-tile .product-tile-controls i {
	font-size: 24px;
	color: #2B2B2B;
}

.product-tile .product-tile-controls i:hover {
	font-weight: 700;
}

.product-tile .product-tile-pricing {
  line-height: 38px;
}

.product-tile .product-price {
  display: block;
}

.view-all {
	text-align: center;
	font-family: 'Roboto';
	font-size: 18px;
  text-transform: lowercase;
}

.view-all a {
	display: inline-block;
	border-radius: 24px;
	padding: 12px 16px;
	transition: background-color .2s linear;
}

.view-all a:hover {
	background-color: #CCCCCC;
}

.home-content {
	margin-bottom: 140px;
}

.home-content-inner {
	display: flex;
	gap: 140px;
}

.home-content-description > header {
	margin-bottom: 40px;
}

.home-content-description > header > h1 {
	font-size: 44px;
	font-weight: 700;
	text-align: center;
}

.home-content-description > div > p {
	font-family: 'Roboto';
	font-weight: 300;
	text-align: justify;
	line-height: 43px;
}

.home-content-description > div > p:first-child {
	margin-bottom: 68px;
}
/* ./homepage */
